#timer_div {
    height: 15px;
    margin-bottom: 30px;
}

#retimer-audio_controls_container {
    margin: 0;
    padding: 0;
}

.retimer_controls{
    border: 1px solid #000000;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
}

/*Images have extra padding added if inline-block display
need to adjust the vertical-align property to fix*/
.retimer_controls input[type=image]{
    vertical-align: middle;
}

.retiming_button{
    height: 40px;
}

canvas.thumbnail {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#constraints {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
};
