#timer_div{
    height: 15px;
    margin-bottom: 30px;
}

.retimer_controls{
    border:1px solid #000000;
    display: inline-block;
}

.retiming_button{
    height: 40px;
}

.thumbnail {
    background-color: #F5F5F5;
}

/*#constraints_div{
    position: absolute;
}
*/