#timer_div{
    height: 15px;
    margin-bottom: 30px;
}

.retimer_controls{
    border:1px solid #000000;
    display: inline-block;
}

.retiming_button{
    height: 40px;
}

#constraints {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
};

.thumbnail {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid red;
    background-color: #F5F5F5;
}
