#visualsContainer {
    overflow: hidden;
    height: 510px;
    margin: 0;
    padding: 0;
}

#visualsRecordingTools {
    float: left;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#visualsRecordingTools.hidden {
    display: none;
}

#visualsEditingTools {
    float: left;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#visualsEditingTools.hidden {
    display: none;
}

#sketchpadWrap {
    position: absolute;
    float: left;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#sketchpad {
    position: absolute;
    left: 0;
    top: 0;
    cursor: crosshair;
    margin: 0;
    padding: 0;
}

#sketchpadOverlay {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.visuals-tool {
    height: 30px;
    max-width: 100%;
    margin-top:10px;
}

#selectionBox {
    position: absolute;
    border: 1px solid red;
    cursor: move;
}

#sketchpad .ui-resizable-handle {
    position: absolute;
    height: 100%;
    width: 5px;
}
#sketchpad .ui-resizable-w {
    cursor: w-resize;
}
#sketchpad .ui-resizable-e {
    cursor: e-resize;
    top:0px;
    right: -5px;
}
