#audio_container {
    position: relative;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

#audio_timeline {
    position: relative;
    height: 400px;
    width: 1000px;
    border: 1px solid black;
    overflow-x: scroll;
    /*disable text selection*/
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
    margin: 0;
    padding: 0;
}

/* Set the scrollbars to always visible in the timeline by
    modifying the webkit scrollbar properties. Chrome and Safari only. */
#audio_timeline::-webkit-scrollbar {
    -webkit-appearance: none;
}
#audio_timeline::-webkit-scrollbar:vertical {
    width: 11px;
}
#audio_timeline::-webkit-scrollbar:horizontal {
    height: 11px;
}
#audio_timeline::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
#audio_timeline::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

#timeline_cursor {
    position: absolute;
    width: 0px;
    height: inherit;
    border-left: solid #79DFFF;
    margin: 0;
    padding: 0;
}

#audio_tracks_container {
    position: absolute;
    margin: 0;
    padding: 0;
}

#gradation_container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#playhead {
    position: absolute;
    height: 324px;
    width: 10px;
    background-color: blue;
    cursor: move;
    margin: 0;
    padding: 0;
}

div.timeline_plugin {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.audio_track {
    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.audio_segment {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 7px; 
    float: left;
    box-shadow: 0;
    transition: box-shadow .15s;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.focus {
    border-style: outset;
    border-width: 4px;
    background-color: #DDEFFF;
}

div.segment_handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    border-style: ridge;
    border-width: 2px;
    border-color: #2E9AFE;
    background-color: #2E9AFE;
    cursor: move;
    margin: 0;
    padding: 0;
}

div.wavesurfer_container {
    position: absolute;
    height: 90px;
    border-width: 0;
    pointer-events:none;
    margin: 0;
    padding: 0;
}

.audio_segment wave {
    position: absolute;
    left:0;
    right: 0;
    border-style: none;
    pointer-events:none;
    margin: 0;
    padding: 0;
}

wave canvas {
    border-style: none;
    margin: 0;
    padding: 0;
}

.audio_segment.ui-draggable {
    margin: 0;
    padding: 0;
}

.audio_segment.ui-draggable-dragging {
    /*box-shadow: 0 0 3px #515151;*/
    box-shadow: 8px 10px 24px 0px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0;
}

.audio_segment.ui-resizable {
    margin: 0;
    padding: 0;
}

.audio_segment.ui-resizable-resizing {
    margin: 0;
    padding: 0;
}

.audio_segment .ui-resizable-handle {
    height: 100%;
    width: 8px;
    position: absolute;
    font-size: 0.1px;
}
.audio_segment .ui-resizable-w {
    cursor: w-resize;
}
.audio_segment .ui-resizable-e {
    cursor: e-resize;
}


#audio_controls {
    margin-left: 10px;
}

.audio_button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    /*  -webkit-border-radius: 28;
    -moz-border-radius: 28;*/
    /*border-radius: 28px;*/
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    /*position: relative;*/
    text-align: center;
    vertical-align: center;
    height: 40px;
}
.audio_button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.center_buttons{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
