button {
    padding: 8px;
}

.hidden {
    display:none;
}

.ui-label {
    font-family: Calibri, sans-serif;
    font-size: 14px;
}

.ui-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#lectureToolsContainer {
    height: 62px;
    width: 600px;
}

#lectureToolsContainer table {
    display:inline-block;
    position:relative;
    top:10px;
}

.lecture-tool {
    max-height: 40px;
    margin-top:10px;
}